body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.head {
  background-image: url('background.png');
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
  padding: 3px;
  margin-left: 25px;
}

.navs {
  padding-right: 12px;
}

.navs a {
  margin-right: 20px;
  text-decoration: none;
  color: rgba(213, 213, 213, 0.919);
  transition: color 0.3s ease;
  transform: scale(1.05);
}

.navs a:hover {
  color: rgb(255, 255, 255);
}

.main {
  margin: 10px;
  padding: 10px;
}

.title {
  margin-top: 30px;
  margin-left: 40px;
  width: 70%;
}

.title h2 {
  color: #00629b;
  font-size: 40px;
}

.title p {
  padding-left: 10px;
  color: rgb(26, 26, 26);
}


.events {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.carousel-container {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.carousel {
  display: flex;
  gap: 25px;
  overflow: hidden;
  justify-content: center;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin-left: auto;
  padding-left: 20px;
}

.card {
  width: 18rem;
  flex-shrink: 0;
  height: 550px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 6px 9px 22px rgba(57, 57, 57, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-body {
  padding: 1.2rem;
}

.card-body h3 {
  color: #00629b;
}

.carousel-btn {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #00629b;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 2px solid #00629b;
  width: 60%;
  border-radius: 5px;
  position: relative;
}

.modal-content h2 {
  color: #00629b;
  padding-left: 50px;
  font-weight: bolder;
  font-style: italic;
}

.modal-content img {
  width: 90%;
  height: 400px;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
}

.modal-content p {
  color: rgb(0, 0, 0);
  padding-left: 65px;
  font-weight: 300;
  font-size: medium;
  width: 85%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.widget {
  display: flex;
  justify-content: space-evenly;
  height: 250px;
  margin-top: 40px;
  background: #00629b;
  padding-top: 35px;
}

.widget div {
  width: 20%;
}

.wid-1,
.wid-2 {
  padding-left: 25px;
}

.wid-1 h5 {
  color: #fff;
  padding-left: 63px;
  margin-top: -7px;
}

.wid-1 p {
  color: #ccc;
  padding-left: 63px;
}

.wid-2,
.wid-2 a {
  text-decoration: none;
  padding-top: 6px;
  color: #fff;
}

.wid-2 li {
  padding-top: 7px;
}

.wid-3,
.wid-3 a,
.wid-5 a {
  color: #ccc;
  text-decoration: none;
  padding-left: 25px;
  padding-top: 6px;
  &:hover {
    color: #fff;
  }
}

.wid-3 p {
  padding-top: 10px;
}

.wid-4,
.wid-5 {
  color: #fff;
  padding-top: 6px;
}

.wid-4 p,
.wid-5 p {
  padding-left: 25px;
  color: #ccc;
}

footer {
  height: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
}


