*{
    padding: 0;
    margin: 0;
}

h1{
    color: rgb(0, 109, 165);
}

/* .nav-link{
    color: #fff ;
} */


/* .container{
    max-width: 80%;
    width: 90%;
    margin: auto;
} */


.media-gallery{
    padding: 10px;
    display: flex;
    gap: 20px;
}

.column{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.media img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
}


@media(max-width:768px){
    .media-gallery{
        flex-direction: column;
    }
    .column{
        width:90%;
    }
}